### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [1]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)

In [2]:
print(even_list)

[2, 4, 6, 8, 10]

In [3]:
[i for i in range(1, 11) if i % 2 ==0]

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

**[입력 예시]**
```python
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']
```

---
**[출력 예시]**

```   
[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]
```

In [6]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

pair = []
for girl in girls:
    for boy in boys:
        pair.append((boy, girl))
print(pair)

[('justin', 'jane'), ('eric', 'jane'), ('david', 'jane'), ('justin', 'ashley'), ('eric', 'ashley'), ('david', 'ashley'), ('justin', 'mary'), ('eric', 'mary'), ('david', 'mary')]

In [7]:
# list comprehension 사용해서 작성
[(boy, girl) for girl in girls for boy in boys]

[('justin', 'jane'),
 ('eric', 'jane'),
 ('david', 'jane'),
 ('justin', 'ashley'),
 ('eric', 'ashley'),
 ('david', 'ashley'),
 ('justin', 'mary'),
 ('eric', 'mary'),
 ('david', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---
**[출력 예시]**

```
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [13]:
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))

In [14]:
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [15]:
# list comprehension 이용해서 작성
[(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z ** 2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

**[입력 예시]**

```python
words = 'Life is too short, you need python!'
```

---
**[출력 예시]**

```
Lf s t shrt, y nd pythn!
```

In [25]:
words = 'Life is too short, you need python!'
vowel = ['a', 'e', 'i', 'o', 'u']

new_words = ''

for word in words:
    if word not in vowel:
        new_words += word
        
print(new_words)

Lf s t shrt, y nd pythn!

In [31]:
words = 'Life is too short, you need python!'
vowel = ['a', 'e', 'i', 'o', 'u']

for v in vowel:
    words = words.replace(v, '')

print(words)

Lf s t shrt, y nd pythn!

### 코딩 테스트의 기본

> 두 정수를 입력 받아 더한 값을 출력하시오.

**[입력 예시]**

3 5

---

**[출력 예시]**

8

In [16]:
a, b = map(int, input().split())
print(a + b)

3 5
8

### 딕셔너리 순회1

> 혈액형 검사한 결과가 담긴 `blood_types`이 주어졌을때, 해당 딕셔너리를 순회하며, `key`와 `value`를 출력해보세요.

---

**[출력 예시]**
```
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
```

In [3]:
blood_types = {'A': 40, 'B': 11, 'AB': 4, 'O': 45}

In [5]:
for type in blood_types:
    print(f'{type}형은 {blood_types[type]}명입니다.')

A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.

In [10]:
for type in blood_types:
    print(f'{type}형은 {blood_types.get(type)}명입니다.')

A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.

In [8]:
for k, v in blood_types.items():
    print(f'{k}형은 {v}명입니다.')

A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.

### 딕셔너리 순회2

> 혈액형 검사한 결과가 담긴 `blood_types`이 주어졌을때, 해당 검사에 참가한 사람들의 총합을 구해보세요.

---

**[출력 예시]**
```
검사에 참가한 사람은 총 100명입니다.
```

In [ ]:
blood_types = {'A': 40, 'B': 11, 'AB': 4, 'O': 45}

In [11]:
total = 0
for type in blood_types:
    total += blood_types.get(type)
print(total)

100

In [16]:
sum(blood_types.values())

100

### 딕셔너리 구축하기(counter)
> 리스트가 주어질 때, 각각의 요소의 개수를 value 값으로 갖는 딕셔너리를 만드세요.

---

**[출력 예시]**

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [18]:
book_title =  ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']