# 데이터프레임

<br>

**딕셔너리 -> 데이터프레임 변환: pandas.DataFrame( 딕셔너리 객체 )**

In [2]:
import pandas as pd

# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12],'c4': [13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)

# da의 자료형 출력
print(type(df))
print('\n')

# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)
display(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

<br>

**행 인덱스/열 이름 설정 : pandas.DataFrame(2차원 배열,
                                            index = 행 인덱스 배열,
                                            columns = 열 이름 배열)**

In [5]:
import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인하기
display(df) # 데이터 프레임
print('\n')
print(df.index) # 행 인덱스
print('\n')
print(df.columns) # 열 이름

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

<br>

**행 인덱스 변경: DataFrame 객체.index = 새로운 행 인덱스 배열**
**열 이름 변경: DataFrame 객체.columns = 새로운 열 이름 배열**

In [9]:
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

display(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

<br>

**행 인덱스 변경: DataFrame 객체.rename(index={기존 인덱스:새 인덱스, ...})**<br>
**열 이름 변경: DataFrame 객체.rename(columns={기존 이름:새 이름, ...})**

데이터프레임에 rename() 메소드를 적용하면 행 인덱스 또는 열 이름의 일부를 선택하여 변경<br>
단, 원본 객체를 직접 수정하는 것이 아니라 새로운 데이터프레임 객체를 반환<br>
원본 객체를 변경하려면 inplace=True 옵션을 사용한다.

In [17]:
import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교'])

display(df)
print('\n')

# 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 소속으로 바꾸기
df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

# df 출력(변경 후)
display(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중