# 판다스 자료구조

<br>

## 데이터프레임 변환

<br>

**딕셔너리 -> 데이터프레임 변환: pandas.DataFrame( 딕셔너리 객체 )**

In [2]:
import pandas as pd

# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12],'c4': [13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)

# da의 자료형 출력
print(type(df))
print('\n')

# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)
display(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

<br>

## 행 인덱스 / 열 이름 설정 및 변경

<br>

**행 인덱스/열 이름 설정 : pandas.DataFrame(2차원 배열,
                                            index = 행 인덱스 배열,
                                            columns = 열 이름 배열)**

In [5]:
import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인하기
display(df) # 데이터 프레임
print('\n')
print(df.index) # 행 인덱스
print('\n')
print(df.columns) # 열 이름

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

<br>

**행 인덱스 변경: DataFrame 객체.index = 새로운 행 인덱스 배열**

**열 이름 변경: DataFrame 객체.columns = 새로운 열 이름 배열**

In [9]:
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

display(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

<br>

**행 인덱스 변경: DataFrame 객체.rename(index={기존 인덱스:새 인덱스, ...})**

**열 이름 변경: DataFrame 객체.rename(columns={기존 이름:새 이름, ...})**

데이터프레임에 rename() 메소드를 적용하면 행 인덱스 또는 열 이름의 일부를 선택하여 변경<br>
단, 원본 객체를 직접 수정하는 것이 아니라 새로운 데이터프레임 객체를 반환<br>
원본 객체를 변경하려면 inplace=True 옵션을 사용한다.

In [17]:
import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교'])

display(df)
print('\n')

# 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 소속으로 바꾸기
df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

# df 출력(변경 후)
display(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

<br>

## 행/열 삭제

<br>

**행 삭제: DataFrame 객체.drop(행 인덱스 또는 배열, axis=0)**

**열 삭제: DataFrame 객체.drop(열 이름 또는 배열, axis=1)**

행을 삭제할 때는 `axis = 0` 입력<br>
열을 삭제할 때는 `axis = 1` 입력<br>

drop() 메소드는 기존 객체를 변경하지 않고 새로운 객체를 반환한다.<br>
따라서 원본 객첼르 변경하기 위해서는 `inplace=True` 옵션 사용

In [20]:
# 행 삭제

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장.
exam_data = {'수학': [90, 80, 70], '영어': [80, 65, 90], 
            '음악': [70,90,80], '체육': [80,90,70]}          # key는 컬럼명이 된다.

df = pd.DataFrame(exam_data, index=['지혜', '원재', '민영'])
display(df)


# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row) 삭제
df2 = df.copy()
df2.drop('민영', inplace = True)
display(df2)

# 데이터프레임 df를 복제하여 변수 df3에 저장. df의 2개 행(row) 삭제
df3 = df.copy()
df3.drop(['민영', '원재'], inplace=True)
display(df3)

    수학  영어  음악  체육
지혜  90  80  70  80
원재  80  65  90  90
민영  70  90  80  70

    수학  영어  음악  체육
지혜  90  80  70  80
원재  80  65  90  90

    수학  영어  음악  체육
지혜  90  80  70  80

In [26]:
# 열 삭제  --> 'axis = 1' 잊지말기!!!!

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장.
exam_data = {'수학': [90, 80, 70], '영어': [80, 65, 90], 
            '음악': [70,90,80], '체육': [80,90,70]}          # key는 컬럼명이 된다.

df = pd.DataFrame(exam_data, index=['지혜', '원재', '민영'])
display(df)


# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column) 삭제
df4 = df.copy()
df4.drop('수학', axis=1, inplace = True)
display(df4)

# 데이터프레임 df를 복제하여 변수 df5에 저장. df의 2개 열(column) 삭제
df5 = df.copy()
df5.drop(['영어', '체육'], axis=1, inplace=True)
display(df5)

    수학  영어  음악  체육
지혜  90  80  70  80
원재  80  65  90  90
민영  70  90  80  70

    영어  음악  체육
지혜  80  70  80
원재  65  90  90
민영  90  80  70

    수학  음악
지혜  90  70
원재  80  90
민영  70  80

<br>

## 행/열 선택 + 원소 선택

**행 선택**

행 데이터를 선책하기 위해서는 loc 와 iloc 인덱서를 사용.<br>
인덱스 이름을 기준으로 행을 선택할 때는 loc 이용(범위의 끝 포함, 값을 변경할 수 있음)<br>
정수형 위치 인덱스를 사용할 때는 iloc 이용(범위의 끝 제외, 값을 변경할 수 없음)<br>

In [31]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학': [90, 80, 70], '영어': [80, 65, 90], 
            '음악': [70,90,80], '체육': [80,90,70]} 

df = pd.DataFrame(exam_data, index=['지혜', '원재', '민영'])
display(df)

# 행 인덱스를 사용하여 행 1개 선택
label1 = df.loc['지혜']
position1 = df.iloc[0]
print(label1)
print('\n')
print(position1)

    수학  영어  음악  체육
지혜  90  80  70  80
원재  80  65  90  90
민영  70  90  80  70

수학    90
영어    80
음악    70
체육    80
Name: 지혜, dtype: int64


수학    90
영어    80
음악    70
체육    80
Name: 지혜, dtype: int64

In [32]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['지혜', '원재']]
position2 = df.iloc[[0,2]]
print(label2)
print('\n')
print(position2)

    수학  영어  음악  체육
지혜  90  80  70  80
원재  80  65  90  90


    수학  영어  음악  체육
지혜  90  80  70  80
민영  70  90  80  70

<br>

**열 선택**

- 열 1개 선택
DataFrame 객체['열 이름']<br>
DataFrame 객체.열 이름

- 열 n개 선택
DataFrame 객체[[열1, 열2, 열3, ...]]

In [39]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름': ['지혜', '원재', '민영'],
             '수학': [90, 80, 70],
             '영어': [80, 65, 90], 
             '음악': [70, 90, 80] }
df = pd.DataFrame(exam_data)
display(df)
print(type(df))
print('\n')

# '수학' 점수 데이터만 선택. 변수 math1에 저장
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# '영어' 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english)
print(type(english))
print('\n')

# 시리즈가 아닌 데이터프레임이 반환되게 하려면?
math2 = df[['수학']]
print(math2)
display(math2)
print(type(math2))
print('\n')

   이름  수학  영어  음악
0  지혜  90  80  70
1  원재  80  65  90
2  민영  70  90  80

<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    80
1    65
2    90
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>


   수학
0  90
1  80
2  70

   수학
0  90
1  80
2  70

<class 'pandas.core.frame.DataFrame'>

In [42]:
# '영어', '음악' 점수 데이터를 선택. 변수 eng_music 에 저장

eng_music = df[['영어', '음악']]
print(eng_music)
print(type(eng_music))
display(eng_music)
print('\n')

   영어  음악
0  80  70
1  65  90
2  90  80
<class 'pandas.core.frame.DataFrame'>

   영어  음악
0  80  70
1  65  90
2  90  80

**원소 선택**

1개 행, 2개 이상 열을 선택 or 2개 이상 행, 1개 열을 선택하면 시리즈 반환<br>
2개 이상의 행과 2개 이상의 열을 선택하면 데이터프레임 반환

- DataFrame 객체.loc[행 인덱스, 열 이름]
- DataFrame 객체.iloc[행 번호, 열 번호]

In [45]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름': ['지혜', '원재', '민영'],
             '수학': [90, 80, 70],
             '영어': [80, 65, 90], 
             '음악': [70, 90, 80],
             '체육': [95, 80, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영
df.set_index('이름', inplace=True)
display(df)

    수학  영어  음악  체육
이름
지혜  90  80  70  95
원재  80  65  90  80
민영  70  90  80  90

In [48]:
# '지혜' 의 '영어' 점수 찾기
a = df.loc['지혜', '영어']
print(a)
b = df.iloc[0,1]
print(b)

80
80

In [52]:
# '원재' '음악', '체육' 점수 찾기
c = df.loc['원재', ['음악', '체육']]
print(c)
print('\n')

d = df.iloc[1, [2, 3]]
print(d)
print('\n')

e = df.loc['원재', '음악':'체육']
print(e)
print('\n')

f = df.iloc[1,2:]
print(f)

음악    90
체육    80
Name: 원재, dtype: int64


음악    90
체육    80
Name: 원재, dtype: int64


음악    90
체육    80
Name: 원재, dtype: int64


음악    90
체육    80
Name: 원재, dtype: int64

In [54]:
# df 2개 이상의 행과 열에 속하는 원소들 선택

g = df.loc[['지혜', '민영'], ['영어','음악']]
display(g)

h = df.iloc[[0, 2], [1, 2]]
display(h)

    영어  음악
이름
지혜  80  70
민영  90  80

    영어  음악
이름
지혜  80  70
민영  90  80